body{
    background-color: #eb2d53;
    font-family: "Aurora." sans-serif;
    font-size: 20px;
    font-weight: bold;
}

pr{
    font-size: 50px;
    font-weight: bold;
}
#img{
    height: 30%;
    width: 100%;
}